body {
	padding: 0;
	margin: 0;
}
.container {
	background: #E3E7EA;
	width: 541px;
	height: 567px;
	padding-top: 10px;
	margin: 0 auto;
}
.book {
	background: linear-gradient(90deg, #343436 0%, #4A4A4A 2%, #434343 5%, #2F2F2F 5%, #272727 9%, #2D2D2D 10%, #3D3D3D 100%);
	width: 300px;
	height: 420px;
	margin-left: 124px;
	margin-top: 63px;
	position: relative;
	border-radius: 4px;
	box-shadow: -2px 6px 4px #98999B;
}
.book:before {
	content: "";
	width: 15px;
	height: 424px;
	background: linear-gradient(90deg, #9C0129 0%, #9C0129 35%, #950027 35%, #950027 41%, #9C0129 42%, #9C0129 63%, #950027 63%, #950027 71%, #9C0129 72%, #9C0129 88%, #791632 95%);
	position: absolute;
	border-radius: 5%; 
	display: block;
	right: 37px;
	top: -3px;
}
.title {
	position: absolute;
	font-size: 55px;
	font-family: "Lato";
	top: 44px;
	left: 48px;
	letter-spacing: 1px;
	font-weight: 900;
	line-height: 55px;
	color: #fff;
}
.text {
	font-style: italic;
	color: #C2CECE;
	font-family: "Arial";
	position: absolute;
	font-size: 17px;
	top: 252px;
	left: 53px;
}