@import url("../fonts/raleway-bold.ttf");
@import url("../fonts/raleway-regular.ttf");
@import url("../fonts/roboto-slab-regular.ttf");
@import url("reset.css");
	.container {
		margin: auto;
		box-sizing: border-box;
		padding-left: 4.68%;/*111*/
		padding-right: 4.68%;/*111*/
		width: 130vw;
	}
	.floatLeft {
		float: left;
	}
	.floatRight {
		float: right;
	}
	.clearfix:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	.dev {
		display: none;
	}
	.header .tablet {
		display: none;
	}
	body {/*
		background: url("../mobile.jpg") no-repeat;
		background-position: 50% 0%;
		background-size: contain;*/
	}
	/*блок header*/

	.header {
		background: url("../images/sochi.jpg") no-repeat;
		background-position:50% 0;
		background-size: cover;/*111*/
		position: relative;
		padding-bottom: 40vh;/*111*/
		box-sizing: border-box;
		width: 130vw;
	}
	.mainMenu {
		width: 7.5%;
		margin-top: 5vh;/*111*/
	}
	.menu {
		position: absolute;
		width: 420px;
		height: 415px;
		z-index: 999;
		top: 60px;
		background: rgba(30,80,120,0.4);
		padding-left: 45px;
		padding-top: 55px;
		display: none;
		box-sizing: border-box;
	}
	.menuElem a{
		color: #fff;
		font-family: "roboto slab";
		font-size: 19px;
		margin-top: 5px;
		line-height: 49px;
	}
	.header .icon {
		margin-right: 3px;
	}
	.elem {
		margin-top: 38px;
		margin-right: 35px; 
		font-family: "raleway";
		font-size: 15px;
	}
	.elem:first-child {
		margin-top: 38px;
		margin-right: 38px; 
	}
	.elem:last-child {
		margin-top: 38px;
		margin-right: 40px; 
	}
	.elem:after {
		content: "";
		display: block;
		float: right;
		margin-left: 5px;
		margin-top: 5px;
		width: 0;
		height: 0;
		border: 5px solid transparent; 
		border-top-color: white; 
	}
	.info {
		margin-top: 2vh;/*111*/
		font-family: "raleway";
		font-size: .7vh;/*111*/
		line-height: 3vh;/*111*/
		color: #666699;
	}
	.tel {
		font-family: "raleway";
		font-weight: 700;
		font-size: 2vh;/*111*/
		color: #0d3351;
	}
	.block2 {
		text-align: center;
		color: #0d3351;
	}
	.block2 h3 {
		font-family: "roboto slab";
		font-size: 6.3vw;/*111*/
		margin-top: 1.7vh;/*111*/
	}
	.block2 h1 {
		font-family: "roboto slab";
		font-size: 15vw;/*111*/
		line-height: 9vh;/*111*/
		margin-top: 1vh;/*111*/
	}
	.button {
		width: 70%;
		height: 9vh;
		font-family: "raleway";
		font-size: 2.7vh;
		color: #fff;
		margin-top: 6.2vh;
		background: #33ccff;
		border: 0;
	}

	.logo {
		width: 24%;/*111*/
		margin-top: -3vh;/*111*/
	}
	.line {
		height: 60vh;/*111*/
		width: 100vw;/*111*/
		left: 35%;
		stroke: #003366; 
		stroke-width: 10; /*111*/
		fill: none;
		stroke-dasharray: 30 10;/*111*/
		position: absolute;
		z-index: 999;
	}
	/*header блок конец*/
	/*main блок начало*/

	.main {
		text-align: center;
		background: #f3f3f3;
		padding-top: 2vh;/*111*/
		padding-bottom: 62px;
		position: relative;
		z-index: 2;
		width: 130vw;
	}
	.popup {
		position: absolute;
		width: 852px;
		height: 692px;
		padding-left: 49px;
		padding-top: 118px;
		box-sizing: border-box;
		top: 230px;
		left: 18.5%;
	}
	.mainImg {
		width: 361px;
		height: 240px;
		background: url("../images/sea-1.jpg");
	}
	.minImg {
		width: 83.5px;
		height: 55px;
		margin-top: 8px;
		margin-left: 9px;
		background: url("../images/sea-1.jpg");
	}
	.minImg.first {
		margin-left: 0;
	}
	.text {
		text-align: left;
		margin-left: 392px;
		font-family: "raleway";
		font-size: 15.3px;
	}
	.text p {
		font-family: "raleway";
		font-size: 15.3px;
		line-height: 24.2px;
		margin-top: -10px;
	}
	.titlePopup {
		color: #00a2dd;
		font-family: "roboto slab";
		font-size: 19.5px;
		position: relative;
	}
	.routePopup {
		line-height: 0px;
		color: #003366;
		font-family: "raleway";
		font-size: 15.3px;
		margin-top: 44px;
		display: block;
	}
	.durationPopup {
		line-height: 0px;
		color: #003366;
		font-family: "raleway";
		font-size: 15.3px;
	}
	.pricePopup {
		line-height: 48px;
		color: #0d3351;
		font-family: "roboto slab";
		font-size: 32px;
	}
	.popupButton {
		width: 202px;
		height: 46px;
		font-family: "raleway";
		font-size: 15px;
		color: #fff;
		margin-top: 9px;
		background: #33ccff;
		border: 0;
	}
	.timetable {
		color: #003366;
		font-family: "raleway";
		font-size: 15.3px;
		line-height: 46px;
	}
	.bold {
		font-weight: bold;
	}
	.main h3 {
		font-family: "roboto slab";
		font-size: 6.8vw;/*111*/
		margin-top: 4.2vh;/*111*/
		color: #003366;
	}
	.sort {
		line-height: 6vh;
		color: #666666;
		font-size: 2vh;
		position: relative;
		margin-left: -1vw;
	}
	.sort span {
		font-style: italic;
	}
	.sort span:after {
		content: "";
		display: block;
		position: absolute;
		right: -5vw;
		top: 1.8vh;
		width: 0;
		height: 0;
		border: 15px solid transparent; 
		border-top-color: #003366; 
	}
	.description{
		margin-left: 8%;
		margin-top: 25px;
	}
	.cruises {
		margin-top: 3.5vh;
	}
	.cruise {
		text-align: left;
		background: #ffffff;
	}
	.title {
		color: #00a2dd;
		font-family: "roboto slab";
		font-size: 3.4vh;
		position: relative;
		line-height: 4vh;
	}
	.titleMobile {
		color: #00a2dd;
		font-family: "roboto slab";
		font-size: 3.4vh;
		position: relative;
		line-height: 4vh;
	}
	.title:after {
		content: "";
		display: block;
		right: -22px;
		top: 10px;
		width: 0;
		height: 0;
		border: 4px solid transparent; 
		border-left-color: #00a2dd; 
		position: absolute;
	}
	.route,.duration {
		color: #003366;
		font-family: "raleway";
		font-size: 2vh;
	}
	.route span,.duration span {
		font-weight: bold;
	}
	.route {
		line-height: 5.5vh;/*111*/
	}
	.duration {
		line-height: 0vh;
	}
	.price {
		color: #0d3351;
		font-family: "roboto slab";
		line-height: 12vh;/*111*/
		font-size: 5.7vh;/*111*/
	}
	.oldPrice {
		color: #999999;
		font-size: "roboto slab";
		font-size: 3vh;/*111*/
		margin-left: 28px;
		text-decoration: line-through;
	}
	.anapa {
		width: 100%;/*111*/
		height: auto;/*111*/
		position: relative;
	}
	.anapa img {/*111*/
		width: 100%;
	}
	.flag {
		color: #fff;
		display: block;
		width: 50px;
		height: 100px;
		border-left: 44px solid #33ccff; 
		border-right: 44px solid #33ccff; 
		border-bottom: 20px solid transparent; 
		box-sizing: border-box;
		left: 420px; 
		top: -5px;
		position: absolute;
	}
	.flag span {
		font-size: 15px;
		position: absolute;
		left: -32px;
		top: 30px;
		text-align: center;
		font-family: "raleway";
	}
	.sochi {
		width: 100%;/*111*/
		height: auto;/*111*/
		margin-left: 0px;/*111*/
		position: relative;
		margin-top: 8.1vh;/*111*/
	}
	.sochi .description {/*111*/
		margin-top: 4vh;
	}
	.sochi img {/*111*/
		width: 100%;
	}
	.sochi .flag {
		border-left: 44px solid #ff0033; 
		border-right: 44px solid #ff0033; 
	}
	.sochi .flag span {
		left: -25px;
	}
	.gelengik {
		width: 100%;/*111*/
		height: auto;/*111*/
		margin-top: 7.8vh;/*111*/
		position: relative;
	}
	.gelengik img {/*111*/
		width: 100%;
	}
	.gelengik .description {/*111*/
		margin-top: 4.1vh;
	}
	.gelengik .duration {/*111*/
		line-height: 4vh;
	}
	.gelengik .price {/*111*/
		line-height: 20vh;
	}
	.gelengik .flag {
		border-left: 44px solid #f20542; 
		border-right: 44px solid #f20542; 
	}
	.gelengik .flag span {
		left: -30px;
	}
	.novorossiysk {
		width: 100%;/*111*/
		height: auto;/*111*/
		margin-top: 3.5vh;/*111*/
	}
	.novorossiysk img {/*111*/
		width: 100%;
	} 
	.novorossiysk .description {/*111*/
		margin-top: 4vh;
	}
	.lake {
		width: 555px;
		height: 409px;
		margin-left: 30px;
		margin-top: 21px;
		display: none;/*111*/
	}
	.main .button {
		margin-top: 8vh;/*111*/
	}
	/*main блок конец*/
	/*footer блок начало*/
	.footer {
		text-align: center;/*1111*/
		padding-top: 15vh;/*1111*/
	}
	.footer a {
		color: #003366;
		font-family: "raleway"; 
		font-size: 15.2px;
		line-height: 23px;
	}
	.fMenu {
		margin-top: 25px;
		float: left;
		display: none;/*1111*/
	}
	.share {
		float: left;
		width: 100%;
		margin-top: -12.5vh;/*1111*/
		margin-left: 7vw;
	}
	.share span {
		color: #003366;
		font-family: "raleway"; 
		font-size: 2.6vh;/*1111*/
		line-height: 0vh;/*1111*/
		margin-left: -6vw;
	}
	.social {
		width: 10vw;/*111*/
		height: 10vw;/*111*/
		border-radius: 50%;
		background: #003366;
		text-align: center;
		float: left;/*111*/
		line-height: 32px;/*111*/
		margin-top: 2vh;/*111*/
		margin-left: 2.5%;
		vertical-align: middle;
	}
	.social img {
		width: 40%;
		margin-top: 20%;
	}
	.vk {
		margin-left: 24%;/*111*/

	}
	.vk img {
		width: 50%;
		margin-top: 40%;
	}
	.insta img {
		width: 50%;
		margin-top: 30%;
	}
	.copyright {
		font-family: "raleway";
		font-size: 1.3vh;
		color: #0d3351;
		line-height: 10vh;
		margin-top: -10vh;
	}
	/*footer блок конец*/
