@import url("../fonts/raleway-bold.ttf");
@import url("../fonts/raleway-regular.ttf");
@import url("../fonts/roboto-slab-regular.ttf");
@import url("reset.css");

.container {
	margin: auto;
	width: 750px;/*1111*/
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
	/*background: url("../tablet.jpg") no-repeat;
	*/background-position: 50% 0%;
	background-size: 0 0: 
}
/*блок header*/

.header {
	background: url("../images/sochi.jpg") no-repeat;
	background-position:50% 0;
	position: relative;
	padding-bottom: 25vh;
	box-sizing: border-box;
}
.mainMenu {
	width: 22px;
	margin-top: 34px;
}
.menu {
	position: absolute;
	width: 420px;
	height: 415px;
	z-index: 999;
	top: 60px;
	background: rgba(30,80,120,0.4);
	padding-left: 45px;
	padding-top: 55px;
	box-sizing: border-box;
}
.menuElem a{
	color: #fff;
	font-family: "roboto slab";
	font-size: 19px;
	margin-top: 5px;
	line-height: 49px;
}
.header .icon {
	margin-right: 3px;
}
.elem {
	margin-top: 38px;
	margin-right: 35px; 
	font-family: "raleway";
	font-size: 15px;
}
.elem:first-child {
	margin-top: 38px;
	margin-right: 38px; 
}
.elem:last-child {
	margin-top: 38px;
	margin-right: 40px; 
}
.elem:after {
	content: "";
	display: block;
	float: right;
	margin-left: 5px;
	margin-top: 5px;
	width: 0;
	height: 0;
	border: 5px solid transparent; 
	border-top-color: white; 
}
.info {
	margin-top: 30px;
	font-family: "raleway";
	font-size: 11px;
	line-height: 15px;
	color: #666699;
}
.tel {
	font-family: "raleway";
	font-weight: 700;
	font-size: 16.2px;
	color: #0d3351;
}
.block2 {
	text-align: center;
	color: #0d3351;
}
.block2 h3 {
	font-family: "roboto slab";
	font-size: 28px;/*111*/
	margin-top: 7px;/*111*/
}
.block2 h1 {
	font-family: "roboto slab";
	font-size: 69px;/*111*/
	line-height: 90px;/*111*/
}
.button {
	width: 202px;
	height: 46px;
	font-family: "raleway";
	font-size: 15px;
	color: #fff;
	margin-top: 0px;/*111*/
	background: #33ccff;
	border: 0;
}

.logo {
	margin-top: 80px;/*111*/
	width: 70px;/*111*/
}
.line {
	height: 30vw;
	width: 20vw;
	left: 45%;
	stroke: #003366; 
	stroke-width: 3; 
	fill: none;
	stroke-dasharray: 10 5;
	position: absolute;
	z-index: 999;
}
/*header блок конец*/
/*main блок начало*/

.main {
	text-align: center;
	background: #f3f3f3;
	padding-top: 1px;
	padding-bottom: 62px;
	position: relative;
	z-index: 2;
}
.popup {
	position: absolute;
	width: 721px;/*111*/
	height: 692px;/*111*/
	padding-left: 66px;/*111*/
	padding-right: 30px;/*111*/
	padding-top: 118px;
	box-sizing: border-box;
	top: 230px;
	left: 23.3%;/*111*/
	z-index: 9999;
	background: #fff;
}
.mainImg {
	width: 284px;/*111*/
	height: 186px;/*111*/
	background: url("../images/sea-1.jpg");
}
.minImg {
	width: 67px;/*111*/
	height: 45px;/*111*/
	margin-top: 5px;/*111*/
	margin-left: 5.3px;/*111*/
	background: url("../images/sea-1.jpg");
}
.minImg.first {
	margin-left: 0;
}
.text {
	text-align: left;
	margin-left: 309px;
	font-family: "raleway";
	font-size: 15.3px;
}
.text p {
	font-family: "raleway";
	font-size: 15.3px;
	line-height: 24.2px;
	margin-top: -10px;
}
.titlePopup {
	color: #00a2dd;
	font-family: "roboto slab";
	font-size: 19.5px;
	position: relative;
}
.routePopup {
	line-height: 0px;
	color: #003366;
	font-family: "raleway";
	font-size: 15.3px;
	margin-top: 44px;
	display: block;
}
.durationPopup {
	line-height: 0px;
	color: #003366;
	font-family: "raleway";
	font-size: 15.3px;
}
.pricePopup {
	line-height: 48px;
	color: #0d3351;
	font-family: "roboto slab";
	font-size: 32px;
}
.popupButton {
	width: 202px;
	height: 46px;
	font-family: "raleway";
	font-size: 15px;
	color: #fff;
	margin-top: 9px;
	background: #33ccff;
	border: 0;
}
.timetable {
	color: #003366;
	font-family: "raleway";
	font-size: 15.3px;
	line-height: 46px;
}
.bold {
	font-weight: bold;
}
.main h3 {
	font-family: "roboto slab";
	font-size: 28px;/*111*/
	margin-top: 116px;/*111*/
	color: #003366;
}
.sort {
	line-height: 32px;/*111*/
	color: #003366;
	font-size: 17px;/*111*/
	position: relative;
}
.sort span {
	font-style: italic;
}
.sort span:after {
	content: "";
	display: block;
	position: absolute;
	right: -21px;
	top: 8px;
	width: 0;
	height: 0;
	border: 5px solid transparent; 
	border-top-color: #003366; 
}
.description{
	margin-left: 37px;
	margin-top: 25px;
}
.cruises {
	margin-top: 27px;
}
.cruise {
	text-align: left;
	background: #ffffff;
}
.title {
	color: #00a2dd;
	font-family: "roboto slab";
	font-size: 19.5px;
	position: relative;
}
.title:after {
	content: "";
	display: block;
	right: -22px;
	top: 10px;
	width: 0;
	height: 0;
	border: 4px solid transparent; 
	border-left-color: #00a2dd; 
	position: absolute;
}
.route,.duration {
	color: #003366;
	font-family: "raleway";
	font-size: 15.3px;
}
.route span,.duration span {
	font-weight: bold;
}
.route {
	line-height: 40px;
}
.price {
	color: #0d3351;
	font-family: "roboto slab";
	line-height: 62px;
	font-size: 33px;
}
.oldPrice {
	color: #999999;
	font-size: "roboto slab";
	font-size: 20px;
	margin-left: 28px;
	text-decoration: line-through;
}
.anapa {
	width: 345px;/*111*/
	height: 510px;/*111*/
	position: relative;
}
.anapa img {/*111*/
	width: 100%;
}
.flag {
	color: #fff;
	display: block;
	width: 50px;
	height: 100px;
	border-left: 44px solid #33ccff; 
	border-right: 44px solid #33ccff; 
	border-bottom: 20px solid transparent; 
	box-sizing: border-box;
	left: 225px;/*111*/
	top: -8px;/*111*/
	position: absolute;
}
.flag span {
	font-size: 15px;
	position: absolute;
	left: -32px;
	top: 30px;
	text-align: center;
	font-family: "raleway";
}
.sochi {
	width: 345px;/*111*/
	height: 510px;/*111*/
	margin-left: 30px;
	position: relative;
}
.sochi img {/*111*/
	width: 100%;
}
.sochi .flag {
	border-left: 44px solid #ff0033; 
	border-right: 44px solid #ff0033; 
}
.sochi .flag span {
	left: -25px;
}
.gelengik {
	width: 345px;/*111*/
	height: 510px;/*111*/
	margin-left: 0px;/*111*/
	margin-top: 21px;
	position: relative;
}
.gelengik img {/*111*/
	width: 100%;
}
.gelengik .flag {
	border-left: 44px solid #f20542; 
	border-right: 44px solid #f20542; 
}
.gelengik .flag span {
	left: -30px;
}
.novorossiysk {
	width: 345px;/*111*/
	height: 510px;/*111*/
	margin-top: 21px;
	margin-left: 30px;/*111*/
}
.novorossiysk img {/*111*/
	width: 100%;
} 
.lake {
	width: 345px;/*111*/
	height: 510px;/*111*/
	margin-left: 30px;
	margin-top: 21px;
	display: none;/*111*/
}
.main .button {
	margin-top: 20px;
}
/*main блок конец*/
/*footer блок начало*/

.footer a {
	color: #003366;
	font-family: "raleway"; 
	font-size: 15.2px;
	line-height: 23px;
}
.fMenu {
	margin-top: 27px;/*111*/
	float: left;
}
.share {
	float: left;
	margin-left: 76px;/*111*/
	margin-top: 27px;/*111*/
}
.share span {
	color: #003366;
	font-family: "raleway"; 
	font-size: 15.2px;
	line-height: 23px;
}
.social {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #003366;
	text-align: center;
	display: inline-block;
	line-height: 32px;
	margin-top: 4px;
	margin-left: 5.5px;
}
.social img {
	width: 40%;
	margin-top: 20%;
}
.vk {
	margin-left: 24%;/*111*/

}
.vk img {
	width: 50%;
	margin-top: 40%;
}
.insta img {
	width: 50%;
	margin-top: 30%;
}
.vk {
	margin-left: 0;
}
.copyright {
	font-family: "raleway";
	font-size: 15.3px;
	color: #0d3351;
	margin-top: 0px;
	line-height: 40px;
}