.random-planet {
    background: rgb(50, 50, 114);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: wheat;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid black;
}

.random-planet__img {
    width: 250px;
    height: 250px;
    background: black;
    border-radius: 20px;
    border: 1px solid black;
}
.random-planet__description {
    margin-left: 20px;
}
.random-planet__stats {
    list-style: none;
    padding: 0;
}
.random-planet__stats-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}