body {
	font-family: "PT Sans";
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

*{
	margin: 0;
}
.container {
	width: 960px;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
/*header*/

.header {
	background: #fcdb00;
	height: 140px;
	padding-top: 40px;
}
.header_size {
	height: 140px;
}
.logo {
	float: left;
	margin-left: 6px; 
	margin-top: 20px;
}
.logo__img {
}
.logo__brandname {
	font-size: 30px;
	margin-left: 8px;
	vertical-align: top;
	font-weight: bold;
}
.menu_pos {
	float: right;
	margin-top: 29px;
	margin-right: 2px;
}
.menu__elem {
	color: #000;
	font-size: 23.5px;
	margin-left: 67px;
}
/*header end*/
/*slider*/

.slider {
	background: #fcdb00;
	position: relative;
	display: flex;
	flex-direction: row;
}
.slider_tablet {
	display: none;
}
.slider__container {
	overflow: hidden;
}
.slider__wrap {
	width: 2880px;
}
.slider_size {
	height: 600px;
}
.slider_pos {
	position: relative;
}
.slider__slide {
	width: 960px;
	position: relative;
	height: 600px;
	float: left;
	transition: transform .5s;
}
.slider__title {
	position: absolute;
	top: 88px;
	left: 10px;
	font-weight: bold;
	font-size: 32px;
}
.slider__subtitle {
	position: absolute;
	top: 143px;
	left: 10px;
	width: 350px;
	font-weight: bold;
	font-size: 20px;
}
.slider__text {
	position: absolute;
	width: 400px;
	top: 212px;
	left: 10px;
	font-size: 16px;
}
.slider__icons {
	width: 220px;
	height: 200px;
	position: absolute;
	bottom: 70px;
	left: 10px;
}
.slider__icon {
	margin-right: 32px;
}
.slider__ipad-mini {
	width: 288px;
	height: 381px;
	position: absolute;
	right: 63px;
	top: 24px;
	background: #000;
	border-top: 44px solid #fff;
	border-bottom: 44px solid #fff;
	border-left: 14px solid #fff;
	border-right: 14px solid #fff;
	border-radius: 22px;
}
.slider__ipad-mini:before {
	content: "";
	display: block;
	width: 5px;
	height: 27px;
	background: #fff;
	position: absolute;
	top: 35px;
	right: -15px;
}
.slider__ipad-mini:after {
	content: "";
	display: block;
	width: 5px;
	height: 27px;
	background: #fff;
	position: absolute;
	top: 67px;
	right: -15px;
}
.logo_inverse {
	color: #fcdb00;
	margin-left: 69px;
	margin-top: 152px;
}
.logo__brandname_inverse {
	margin-left: 7px;
	font-family: "PT Sans";
	font-weight: bold;
	vertical-align: top;
}
input[type="radio"] {
  position: absolute;
  z-index: -1;
  display: none;
  bottom: 0;
}

#dot1 + label {
	position: absolute;
	left: 60px;
}
.rad + label {
	width: 15px;
	height: 15px;
	position: absolute;
	background: #fff;
	opacity: .5;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
	bottom: 60px;
}
#dot1 + label {
	left: 635px;
}
#dot2 + label {
	left: 655px;
}
#dot3 + label {
	left: 675px;
}
.rad:checked + label {
	opacity: 1;
}

#dot1:checked ~ .slider__slide {
	transform: translateX(0px);
}
#dot2:checked ~ .slider__slide {
	transform: translateX(-960px);
}
#dot3:checked ~ .slider__slide {
	transform: translateX(-1920px);
}
/*slider end*/
/*features*/

.features {
	background: #fff;
	position: relative;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.features_size {
	height: 775px;
}
.features__description {
	height: 247px;
	min-width: 960px;
}
.features__title {
	position: absolute;
	top: 110px;
	left: 364px;
	font-size: 32px;
}
.features__text {
	position: absolute;
	top: 160px;
	left: 107px;
	width: 750px;
	font-size: 20px;
	text-align: center;
}
.features__feature {
	width: 33%;
	margin-top: 0;
	position: relative;
	height: 200px;
}
.feature__title {
	position: absolute;
	top: 45px;
	left: 78px;
	font-size: 21.5px;
}
.feature__title_two {
	left: 87px;
}
.feature__title_three {
	left: 90px;
}
.feature__title_four {
	top: 43px;
}
.feature__title_five {
	left: 87px;
	top: 43px;
}
.feature__title_six {
	left: 90px;
	top: 43px;
}
.feature__description {
	position: absolute;
	top: 84px;
	left: 78px;
	font-size: 16px;
	width: 240px;
}
.feature__description_two {
	left: 87px;
}
.feature__description_three {
	left: 90px;
}
.feature__description_four {
	top: 80px;
}
.feature__description_five {
	left: 87px;
	top: 80px;
}
.feature__description_six {
	left: 90px;
	top: 80px;
}
.features__icon {
	position: absolute;
	top: 50px;
	left: 12px;
}
.features__icon_two {
	left: 14px;
}
.features__icon_three {
	left: 18px;
}
.features__icon_four {
	left: 3px;
}
.features__icon_six {
	left: 23px;
	top: 45px;
}

/*features end*/
/*subscribe*/
.bg__wrap {
	background: #000;
}
.subscribe {
	height: 460px;
	position: relative;
}
.subscribe__title {
	position: absolute;
	top: 85px;
	left: 332px;
	font-size: 32px;
	font-weight: 700;
	color: #fcdb00;
}
.subscribe__text {
	position: absolute;
	top: 135px;
	left: 104px;
	width: 750px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.form {
	position: absolute;
	bottom: 182px;
	left: 112px;
}
.form__e-mail {
	width: 560px;
	height: 50px;
	border-radius: 5px;
	font-size: 17px;
	padding-left: 20px;
	border: 0;
	outline: none;
}
.form__submit {
	width: 125px;
	height: 51px;
	border-radius: 5px;
	font-size: 17px;
	outline: none;
	border: 0;
	margin-left: 17px;
	background: #fcdb00; 
}
.share {
	position: absolute;
	bottom: 70px;
	left: 332px;
}
.share__icon {
	float: left;
	margin-right: 32px;
}

/*subscribe end*/
/*footer*/

.footer {
	background: #000;
	height: 320px;
	position: relative;
	color: #fff;
}
.footer__contacts {
	position: absolute;
	left: 21px;
	top: 60px;
	font-size: 16px;
	width: 200px;
}
.contacts__e-mail {
	line-height: 28px;
}
.footer__nav {
	float: right;
	margin-left: 42px;
}
.footer__link a{
	color: #fff;
}
.footer__nav_two {
	margin-left: 70px;
}
.footer__nav_three {
	margin-left: 54px;
}
.footer__links {
	float: right;
	margin-right: 90px;
	margin-top: 60px;
}

@media all and (max-width: 1024px) {
	.logo__img {
		width: 70px;
	}
	.logo__brandname {
		font-size: 50px;
	}
	.menu_pos {
		margin-top: 29px;
		margin-right: 2px;
	}
	.menu__elem {
		color: #000;
		font-size: 35px;
		margin-left: 67px;
	}
	.slider__wrap {
		display: none;
	}
	.slider__slide {
		display: none;
	}
	.slider_tablet {
		display: block;
		color: #fcdb00;
		z-index: -1;
	}
	.slider__ipad-mini {
		width: 79%;
		height: 1000px;
		border-top-width: 150px;
		border-bottom-width: 150px; 
		border-right-width: 45px;
		border-left-width: 45px;
		border-radius: 50px;
		overflow: hidden;
		z-index: 1;
	}
	.ipad-button {
		width: 30px;
		height: 90px;
		right: 58px;
		background: #fff;
		position: absolute;
	}
	.one {
		top: 210px;
	}
	.two {
		top: 305px;
	}
	.slider_size {
	height: 1400px;
	}
	.slider__title {
		position: absolute;
		top: 228px;
		left: 115px;
		font-weight: bold;
		font-size: 55px;
	}
	.slider__subtitle {
		position: absolute;
		top: 323px;
		left: 60px;
		width: 650px;
		font-weight: bold;
		font-size: 40px;
		text-align: center;
	}
	.slider__text {
		position: absolute;
		width: 550px;
		top: 442px;
		left: 110px;
		font-size: 35px;
		text-align: center;
	}
	.slider__icons {
		width: 220px;
		height: 200px;
		position: absolute;
		bottom: 70px;
		left: 10px;
	}
	.slider__icon {
		margin-right: 32px;
	}
	.logo_inverse {
		color: #fcdb00;
		margin-left: 255px;
		margin-top: 152px;
	}
	.logo__brandname_inverse {
		margin-left: 7px;
		font-family: "PT Sans";
		font-weight: bold;
		vertical-align: top;
	}
	.slider__slide_tablet {
		width: 800px;
		position: relative;
		float: left;
	}
	.slider__wrap_tablet {
		width: 2400px;
		transition: transform 1s;
	}
	#dot4:checked ~ .slider__wrap_tablet {
	transform: translateX(0px);
	}
	#dot5:checked ~ .slider__wrap_tablet {
		transform: translateX(-800px);
	}
	#dot6:checked ~ .slider__wrap_tablet {
		transform: translateX(-1600px);
	}
	.rad + label {
		width: 35px;
		height: 35px;
		position: absolute;
		background: #fff;
		opacity: .5;
		border-radius: 50%;
		cursor: pointer;
		z-index: 1;
		bottom: 60px;
	}
	#dot4 + label {
		left: 320px;
	}
	#dot5 + label {
		left: 365px;
	}
	#dot6 + label {
		left: 410px;
	}
	.features_size {
		height: 1000px;
	}
	.features__feature {
		width: 45%;
		margin-top: 0;
		position: relative;
		height: 200px;
	}
	.wrap {
		margin-top: 50px;
	}
	.feature__title {
		position: absolute;
		top: 45px;
		left: 78px;
		font-size: 35px;
	}
	.feature__description {
		position: absolute;
		top: 104px;
		left: 78px;
		font-size: 25px;
		width: 340px;
	}
	.features__icon {
		position: absolute;
		width: 50px;
		top: 50px;
		left: 12px;
	}
	.features__text {
		height: 247px;
		position: absolute;
		left: 0;
		min-width: 960px;
		font-size: 35px;
	}
	.features__title {
		position: absolute;
		top: 70px;
		left: 294px;
		font-size: 50px;
	}
	.subscribe {
		height: 660px;
		position: relative;
	}
	.subscribe__title {
		position: absolute;
		top: 85px;
		left: 252px;
		font-size: 50px;
		font-weight: 700;
		color: #fcdb00;
	}
	.subscribe__text {
		position: absolute;
		top: 155px;
		left: 50px;
		width: 850px;
		font-size: 35px;
		text-align: center;
		color: #fff;
	}
	.form {
		position: absolute;
		bottom: 222px;
		left: 52px;
	}
	.form__e-mail {
		width: 645px;
		height: 75px;
		border-radius: 5px;
		font-size: 25px;
		padding-left: 20px;
		border: 0;
		outline: none;
	}
	.form__submit {
		width: 175px;
		height: 76px;
		border-radius: 5px;
		font-size: 25px;
		outline: none;
		border: 0;
		margin-left: 17px;
		background: #fcdb00; 
	}
	.share {
		position: absolute;
		bottom: 70px;
		left: 332px;
	}
	.share__icon {
		float: left;
		width: 50px;
		margin-right: 32px;
	}
	.footer {
		background: #000;
		height: 320px;
		position: relative;
		color: #fff;
	}
	.footer__contacts {
		position: absolute;
		left: 21px;
		top: 60px;
		font-size: 25px;
		width: 220px;
	}
	.contacts__e-mail {
		line-height: 28px;
	}
	.footer__nav {
		float: right;
		margin-left: 42px;
	}
	.footer__link a{
		color: #fff;
	}
	.footer__nav_two {
		margin-left: 40px;
	}
	.footer__nav_three {
		margin-left: 24px;
	}
	.footer__links {
		float: right;
		margin-right: 40px;
		margin-top: 60px;
		font-size: 25px;
	}
}
