body {
    background: slategray;
}
.star-db-app {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: space-around;
}
.item-details {
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
}
.welcome-text {
    align-self: center;
    font-size: 80px;
    color: lightgreen;
}