body {
	background: #E5E5E5;
}
.day-mode {
	--color-one: #613007;
	--color-two: #994404;
	--color-three: #4D2D19;
	--color-four: #4D2D19;
	--gradient-one: url(#Gradient1);
	--gradient-two: url(#Gradient2);
	--gradient-three: url(#Gradient3);
}
.night-mode {
	--color-one: #3E3FC4;
	--color-two: #ACD7FA;
	--color-three: #4289FB;
	--color-four: #6E7DFA;
	--gradient-one: url(#Gradient-night1);
	--gradient-two: url(#Gradient-night2);
	--gradient-three: url(#Gradient-night3);
}
.wrap {
	display: flex;
	flex-wrap: wrap;
}
.house-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 90px;
}
.house {
	margin-top: 77px;
	margin-left: 20px;
	&__resident {
		z-index: -1;
		position: relative;
	}
	&__roof-1 {
		fill: var(--color-three);
	}
	&__roof-2 {
		fill: var(--color-two);
	}
	&__balc-1 {
		fill: var(--color-three);
	}
	&__balc-2 {
		fill: var(--color-four);
	}
	&__floor-grad-1 {
		fill: var(--gradient-one);
	}
	&__floor-grad-2 {
		fill: var(--gradient-two);
	}
	&__floor-grad-3 {
		fill: var(--gradient-three);
	}
	&__resident {
		fill: var(--color-two);
		stroke: var(--color-one);
	}
	&__foundation-main {
		fill: var(--color-four);
	}
	&__foundation-line {
		stroke: var(--color-one);
	}
}

.d-switch {
	width: 133px;
	height: 50px;
	background: #ABCADE;
	border-radius: 50px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	transition: background .5s;
	&__block {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		bottom: 4px;
		right: 4px;
		background: #fff;
		position: absolute;
		transition: transform .5s;
	}
	&__night {
		transition: opacity .5s;
	}
	&__day {
		transition: opacity .5s;
	}
}
.info {
	width: 640px;
	height: 415px;
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	background: #FBFCFD;
	font-size: 20px;
	margin-left: 95px;
	margin-top: 255px;
	align-content: flex-start;
	font-family: roboto;
	&__name-wrap {
		display: flex;
		border-bottom: 1px solid gray;
		justify-content: space-between;
		padding-left: 32px;
		padding-top: 12px;
		padding-bottom: 10px;
		padding-right: 33px;
		width: 640px;
		height: 60px;
		backgound: #fff;
	}
	&__name {
		display: flex;
	}
	&__name-text {
		font-size: 24px;
	}
	&__name-img {
		background-size: 10px;
		width: 30px;
		height: 31px;
		margin-top: 16px;
		margin-left: 20px;
	}
	&__stat {
		width: 30%;
		height: 15%;
		padding-top: 30px;
		font-size: 16px;
		color: #A1BBCD;
		padding-left: 35px;
		display: flex;
		flex-direction: column;
	}
	&__value {
		width: 360px;
		font-size: 20px;
		color: #333333;
		line-height: 45px;
	}
	&__close {
		margin-top: 20px;
	}
}
.white {
	color: #fff;
}
.functional {
	margin-left: 90px;
	padding-top: 70px;
	overflow: hidden;
	&__title {
		font-family: "Roboto";
		font-size: 56px;
		margin-left: 4px;
		margin-bottom: 20px;
	}
	&__form-switch {
		width: 426px;
		height: 50px;
		background: #fff;
		border: 1px solid lightgray;
		border-radius: 50px;
		display: flex;
		justify-content: center;
		position: relative;
	}
	&__switch-block {
		position: absolute;
		height: 50px;
		z-index: 0;
		transition: transform .5s;
		width: 50%;
		left: 0;
		border-radius: 50px;
		background: linear-gradient(180deg, #48A8F6, #4288FA);
	}
	&__switch-text {
		font-family: roboto;
		font-size: 16.5px;
		width: 50%;
		text-align: center;
		position: relative;
		z-index: 99;
		line-height: 50px;
	}
	&__forms {
		display: flex;
		width: 648px;
		transition: transform .5s;
	}
}
.add-f {
	transition: color .5s;
}
.filter-f {
	transition: color .5s;
}
.add-container{
	background: #fff;
	margin-top: 37px;
	box-shadow: 2px 2px 2px lightgray;
}
.add-title {
	border-bottom: 1px solid lightgray;
	padding-top: 7px;
	width: 611px;
	font-family: roboto;
	color: #000;
	padding-bottom: 20px;
	padding-left: 35px;
}
.add-form {
	width: 646px;
	height: 432px;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-left: 35px;
	padding-right: 40px;
	justify-content: space-between;
	align-content: flex-start;
	font-family: roboto;
	color: #A1BBCD;
	align-items: center;
	&__name-text {
		margin-top: 9px;
	}
	&__name {
		width: 414px;
		height: 46px;
		border: 1px solid lightgray;
		border-radius: 50px;
		margin-top: 9px;
		outline: none;
		font-size: 20px;
		padding-left: 10px;
		text-align: center;
	}
	&__gender-radio {
		opacity: 0;
	}
	&__gender-text {
		flex-basis: 25%;
		margin-top: 20px;
	}
	&__gender {
		margin-top: 20px;
	}
	&__floor-text {
		margin-top: 20px;
	}
	&__floor {
		width: 414px;
		height: 46px;
		border: 1px solid lightgray;
		border-radius: 50px;
		margin-top: 20px;
		outline: none;
		font-size: 20px;
		padding-left: 10px;
		text-align: center;
	}
	&__rooms-text {
		flex-basis: 25%;
		margin-top: 20px;
	}
	&__rooms {
		width: 424px;
		height: 50px;
		border: 1px solid lightgray;
		border-radius: 50px;
		margin-top: 20px;
		outline: none;
		font-size: 20px;
		padding-left: 10px;
	}
	&__chbox {
		opacity: 0;
	}
	&__add-label:before {
		content: "";
		display: block;
		float: left;
		width: 20px;
		height: 20px;
		border: 1px solid lightgray;
		border-radius: 50%;
		margin-right: 15px;
	}
	&__add-label:after {
		content: "";
		display: block;
		position: absolute;
		background: transparent;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		top: 2px;
		left: 2px;
	}

	&__add-text {
		margin-top: 35px;
	}
	&__add-label {
		margin-top: 35px; 
		position: relative;
		color: lightgray;
	}
	&__chbox:checked + .add-form__add-label:after {
		background: linear-gradient(180deg, #48A8F6, #4288FA);
	}
	&__chbox:checked + .add-form__add-label {
		color: #000;
	}
	&__num-of-people {
		width: 424px;
		height: 46px;
		border: 1px solid lightgray;
		border-radius: 50px;
		margin-top: 30px;
		outline: none;
		font-size: 20px;
		padding-left: 10px;
	}
	&__num-of-people-text {
		flex-basis: 25%;
		margin-top: 30px;
	}
	&__reset-button {
		flex-basis: 209px;
		height: 50px;
		background: #EBEAEA;
		border-radius: 50px;
		border: 0;
		font-family: roboto;
		font-size: 16.5px;
		color: #000;
		outline: none;
	}
	&__add-button {
		flex-basis: 341px;
		height: 50px;
		background: #EBEAEA;
		border-radius: 50px;
		border: 0;
		background: linear-gradient(180deg, #48A8F6, #4288FA);
		font-family: roboto;
		font-size: 16.5px;
		color: #fff;
		outline: none;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		padding-left: 35px;
		padding-right: 40px;
		padding-top: 20px;
		padding-bottom: 22px;
		border-top: 1px solid lightgray;
	}
}
.filter-container {
	margin-left: 150px;	
	height: 490px;
	box-shadow: 2px 2px 2px lightgray;
}
.filter-form {
	height: 282px;
	&__gender {
		margin-top: 12px;
	}
	&__buttons {
		justify-content: center;
	}
}


// служебные классы
input:invalid {
    border: 2px solid red;
}
.active-form {
	color: #fff;
}
.select-right-option {
	transform: translateX(220px);
}
.select-filter-form {
	transform: translateX(-795px);
}
.select-night {
	transform: translateX(-83px);
}
.hide {
	opacity: 0;
}
.night-bg {
	background: #393A59;
}
.day-bg {
	background: #ABCADE;
}
.male {
	background: url("../images/male.png") no-repeat;
	background-size: contain;
}
.female {
	background: url("../images/female.png") no-repeat;
	background-size: contain;
}
.display-block {
	display: block;
}
.display-flex {
	display: flex;
}
.display-none {
	display: none;
}
.boy {
	fill: url(#boy);
}
.girl {
	fill: url(#girl);
}