body {
  padding: 0;
  margin: 0;
}
.container {
  width: 952px;
  height: 380px;
  background: url("bg.jpg");
  border-top: 1px solid transparent;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 100px; 
}
.wrap {
  background: rgba(255,23,23,.2);
  width: 903px;
  margin-left: 25px;
  height: 322px;
  margin-top: 28px;
  overflow: hidden;
}
.block {
  height: 350px;
  background: rgba(223,122,231, .4);
  transform: skewX(-15deg);
  overflow: hidden;
  float: left;
}
.summer {
  margin-left: -50px;
  width: 488px;
  border-right: 5px solid #fff;
}
.winter {
  background: rgba(13,122,231, .4);
  margin-top: -370px;
  width: 500px;
  margin-left: 447px;
}
.summer_image {
  background: url("summer.jpg");
  background-size: cover;
  width: 545px;
  height: 350px;
  transform: skewX(-165deg);
}
.winter_image {
  background: url("winter.jpg");
  width: 510px;
  height: 350px;
  margin-left: -50px;
  transform: skewX(-165deg);
}
.text {
  font-size: 18px;
  color: #000;
  width: 630px;
  height: 32px;
  background: rgba(200,200,200,.8);
  position: absolute;
  top: 173px;
  left: 156px;
  line-height: 32px;
}
.text_summer {
  float: left;
  margin-left: 123px;
}
.text_winter {
  float: right;
  margin-right: 123px;
}