.slider {
	display: flex;
}
.slider_pos {
	margin: 0 auto;
	margin-top: 75px
}
.slider_size {
	width: 400px;
  	height: 400px;	
}
.shadow {
	box-shadow: 2px 2px 5px gray;
}
.slider__slide {
	flex-basis: 25%;
  	height: 100%;
	font-size: 0px;
	color: transparent;
  	font-weight: bold;
  	font-family: "Arial";
  	transition: flex-basis .5s, color .5s, font-size .5s;
  	text-align: center;
  	line-height: 405px;
}
.slider__slide_bg_orange {
	background: #E67F22;
}
.slider__slide_bg_dark-blue {
	background: #34495E;
}
.slider__slide:hover {
	flex-basis: 125%;
 	color: white;
  	font-size: 28px;
}
