.header {
    display: flex;
    padding-left: 20px; 
    align-items: center;
}
.header__logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
}
.header__menu {
    display: flex;
    list-style: none;
}

.header__menu-item { 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 25px;
}
a {
    color: lightgreen;
    text-decoration: none;
}