.item-list {
    width: 35vw;
    background:rgb(50, 50, 114);
    color: lightcyan;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.list-item {
    font-size: 25px;
    padding: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.list-item:hover {
    background: rgb(128, 118, 118);
}