
.info {
    padding-top: 5%;
}
.main {

}
.info-elem {
    width: 170px;
    height: 170px;
    text-align: center;
    background: linear-gradient(135deg, transparent 100%,rgba(255, 255, 255, 0.425));
    color: rgba(255, 255, 255, 0.719);;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}
.big-caps {
    font-size: 60px;
    color: #fff;
}
.info-elem:nth-child(1) {
    background: linear-gradient(135deg, transparent 50%,rgba(211, 211, 211, 0.1));
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.info-elem:nth-child(2) {
    background: linear-gradient(-135deg, transparent 50%,rgba(211, 211, 211, 0.1));
    margin-left: 10px;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.info-elem:nth-child(3) {
    background: linear-gradient(45deg, transparent 50%,rgba(211, 211, 211, 0.1));
    margin-top: 10px;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
}
.info-elem:nth-child(4) {
    background: linear-gradient(-45deg, transparent 50%,rgba(211, 211, 211, 0.1));
    margin-top: 10px;
    margin-left: 10px;
    border-left: 1px solid transparent;
    border-top:1px solid transparent;
    
}

.info-elem:nth-child(1):hover {
    background: linear-gradient(135deg, transparent 50%,rgba(211, 211, 211, 0.2));
    border-image: linear-gradient(135deg, transparent 60%,rgba(211, 211, 211, 0.6));
    border-image-slice: 1;
}
.info-elem:nth-child(2):hover {
    background: linear-gradient(-135deg, transparent 50%,rgba(211, 211, 211, 0.2));
    border-image: linear-gradient(-135deg, transparent 60%,rgba(211, 211, 211, 0.6));
    border-image-slice: 1;
}
.info-elem:nth-child(3):hover {
    background: linear-gradient(45deg, transparent 50%,rgba(211, 211, 211, 0.2));
    border-image: linear-gradient(45deg, transparent 60%,rgba(211, 211, 211, 0.6));
    border-image-slice: 1;
}
.info-elem:nth-child(4):hover {
    background: linear-gradient(-45deg, transparent 50%,rgba(211, 211, 211, 0.2));
    border-image: linear-gradient(-45deg, transparent 60%,rgba(211, 211, 211, 0.6));
    border-image-slice: 1;
}
.heading span{
    font-size: 61px;
    background: linear-gradient(90deg,#fff , #ff4005);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading {
    margin-top: 100px;
}
.text {
    font-size: 26px;
    background: linear-gradient(90deg,#fff, #ffa184);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.left-btn {
    background: transparent;
    width: 180px;
    height: 35px;
    margin-top: 91px;
    color: rgba(255, 255, 255, 0.486);
    border-image: linear-gradient(45deg,#577fb3, #101f2d , #577fb3);
    border-image-slice: 1;
    position: relative;
}
.left-btn:hover {
    color: #fff;
}
.left-btn::before {
    bottom: -2px;
    left: -2px;
    height: 5px;
    width: 5px;
    position: absolute;
    content: " ";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: -1px 1px 1px #fff;
}
.left-btn::after {
    top: -2px;
    right: -2px;
    height: 5px;
    width: 5px;
    position: absolute;
    content: " ";
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    box-shadow: 1px -1px 1px #fff;
}
.planet {
    position: absolute;
    left: 35.5vw;
    top: 10vw;
}